*{
    box-sizing: border-box;
}

body{
    background: url(https://bit.ly/2DzrNlm);
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    line-height:34px;
}
/* styling for the title */
h1{
    text-align:center;
    padding:20px;
    font-size:36px;
    font-weight:bold;
    margin:20px auto;
    
}
/* styling for the instructions container */
.list-conatiner{
    
    margin:20px auto ;
    padding:0px 20px;
    border-style: solid 2px white;
}

h2{
    font-size:24px;
}

.game-container{
    margin:20px auto ;
    padding:0px 20px;
}

.opacity{
    width:75%;
    border-radius:25px;
    background:#DCDBDE;
    opacity: .9;
}